<h1>New Homework</h1>

<div class="row">
  <div class="col-xs-6">
    <%= simple_form_for @homework, url: teacher_homeworks_path do |f| %>
      <%= f.input :title %>
      <%= f.input :question %>
      <%= f.input :due_at, as: :date_time_picker %>
      <%= f.button :submit, class: "pull-right btn-success" %>
      <%= link_to "Back", teacher_homeworks_path, class: "btn btn-default pull-left" %>
    <% end %>
  </div>
</div>