<div class="panel panel-default">
  <div class="panel-heading">
    <%= @homework.title %>
  </div>

  <% if @ %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Homework</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>
        <% @current_homeworks.each do |homework| %>
          <tr>
            <td><%= homework.title %></td>
            <td><%= homework.due_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if @past_homeworks %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Homework</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>
        <% @past_homeworks.each do |homework| %>
          <tr>
            <td><%= homework.title %></td>
            <td><%= homework.due_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>  
</div>