<div class="row">
  <div class="col-xs-3">

    <%= link_to "Back", student_assignments_path, class: "btn btn-default btn-block margin-bottom-20" %>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= @assignment.homework.title %></h3>
        <h5>Question: <%= @assignment.homework.question %></h5>
      </div><!-- .panel-body -->
    </div><!-- .panel .panel-default -->

  </div><!-- .col-xs-3 -->

  <div class="col-xs-6">
    <%= simple_form_for @answer, url: student_assignment_answers_path do |f| %>
      <%= f.input :text, input_html: { rows: 10 } %>
      <%= f.button :submit, "Submit Answer", class: "btn-success pull-right" %>
    <% end %>
  </div>
</div>

